@charset "UTF8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.topo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, #a400f0,#9100d4,#8300c0,#6c009e);
    padding: 10px 20px;
    width: 100%;
}
.topo > h1{
    font-family: "Big Shoulders", sans-serif;
    cursor: pointer;
    color: black;
}
.topo > input{
    padding: 5px;
    border-radius: 5px;
    border: solid 1px black;
}
.menu {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

.menu > a{
    font-family: "Big Shoulders", sans-serif;
    text-decoration: none;
    color: black;
    
}
.menu a:hover{
    transform: scale(1.4);
}
.hamburg{
    display: none;
}
.baner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}
.baner img{
    width: 100%;

}
footer{
    background-image: linear-gradient(to right, #a400f0,#9100d4,#8300c0,#6c009e);
    padding: 10px 0;
    text-align: center;
    display: block;
    flex-wrap: wrap;
}
.catalogo{
    margin-top: 20px;
    height: 750px;
    margin-bottom: 20px;

}
.vitrine{
    padding: 10px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card1{
    width: 200px;
    border: solid 3px #aa00b9 ;
    border-radius: 10px;
    box-shadow: 2px 4px 10px #e977f3;
    transition: 0.3s ease-in-out;
    padding: 5px;
    font-family: "Big Shoulders", sans-serif;
}
.card1 img{
    width: 150px;
    height: auto;
    border-radius: 10px;
}
.card1:hover{
    transform: scale(1.1);
}
.frete{
    background-color: rgb(0, 255, 0);
    padding: 2px;
    
    
}
@media screen and (max-width: 768px) {
    .menu{
        display: none;
        
    }
    .hamburg{
        display: block;
        cursor: pointer;
    }
    footer{
        display: block;
        margin: auto;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

.imgtabela{
    width: 100px;
}

.formulario{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.carousel-item img {
    margin-top: 20px;
    height: 500px; 
    object-fit: cover; 
    border-radius: 20px;
  }